<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <nav>
        <div class="navbar">
            <img class="logo" src="{{ url_for('static', filename='img/foosball_logo.jpeg') }}" alt="Foosball Logo">
            <ul class="nav-links">
                <li><a href="/">Leaderboard</a></li>
                <li><a href="/game_page">Current Game</a></li>
                <li><a href="/players">Players</a></li>
            </ul>
            <a href="/join_game">
                <button type="button">Start New Game</button>
            </a>
        </div>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
