<!-- join_game.html -->
<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% block title %}Join Game{% endblock %}

{% block styles %}
<style>
    .team-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh; /* Adjust the height as needed */
    }

    .team-card {
        border: 1px solid #ccc;
        width: 30%;
        min-width: 300px;
        border-radius: 5px;
        padding: 20px; /* Increased padding for a pop-off effect */
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for pop-off effect */
    }

    .player-list {
        list-style: none;
        padding: 0;
    }

    .player-item {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="team-container">
    <form id="join-form">

        <div class="team-card">
            <h2 class="red">Red Team</h2>
            <ul class="player-list" id="red-team-players">
                {% for player in redTeamPlayers %}
                    <li class="player-item">
                        <input type="checkbox" id="red-{{ player['username'] }}" name="red-players" value="{{ player['username'] }}" onchange="updatePlayerList('red', this)">
                        <label class="checkbox-label" for="red-{{ player['username'] }}">{{ player['username'] }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="team-card">
            <h2 class="black">Black Team</h2>
            <ul class="player-list" id="black-team-players">
                {% for player in blackTeamPlayers %}
                    <li class="player-item">
                        <input type="checkbox" id="black-{{ player['username'] }}" name="black-players" value="{{ player['username'] }}" onchange="updatePlayerList('black', this)">
                        <label class="checkbox-label" for="black-{{ player['username'] }}">{{ player['username'] }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <button type="button" onclick="startGame()">Start Game</button>
    </form>
</div>


<script src="/static/socket.io.min.js"></script>
<script>
    const socket = io.connect('http://' + document.domain + ':' + location.port + '/');
    socket.on('connect', function() {
        console.log('Socket connected');
    });

    function updatePlayerList(team, checkbox) {
        const playerName = checkbox.value;
        const isChecked = checkbox.checked;

        // Emit an event to update the server with the player list changes
        socket.emit('update_player', { team: team, playerName: playerName, isChecked: isChecked });
    }

    socket.on('update_players', function(data) {
        // Update the player lists on the client side
        const redTeamList = document.getElementById('red-team-players');
        const blackTeamList = document.getElementById('black-team-players');

        console.log(data);

        // Assuming data.redTeamPlayers and data.blackTeamPlayers are arrays of player names
        updatePlayerListUI(redTeamList, data.redTeamPlayers, data.allowedRedTeamPlayers, 'red');

        updatePlayerListUI(blackTeamList, data.blackTeamPlayers, data.allowedRedTeamPlayers, 'black');
    });

    function updatePlayerListUI(playerList, teamPlayers, allowedPlayers, team) {
        playerList.innerHTML = '';
    
        // Populate the list with updated player names
        teamPlayers.forEach(playerName => {
            createPlayerListItem(playerList, team, playerName, true);
        });

        allowedPlayers.forEach(playerName => {
            createPlayerListItem(playerList, team, playerName, false);
        });
    }
    
    function createPlayerListItem(playerList, team, playerName, checked) {
    
        const listItem = document.createElement('li');
        listItem.classList.add('player-item');

        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.id = team + '-' + playerName;
        checkbox.name = team + '-players';
        checkbox.value = playerName;
        checkbox.checked = checked;
        checkbox.onchange = function () {
            updatePlayerList(team, this);
        };

        const label = document.createElement('label');
        label.classList.add('checkbox-label');
        label.htmlFor = team + '-' + playerName;
        label.innerText = playerName;

        listItem.appendChild(checkbox);
        listItem.appendChild(label);

        playerList.appendChild(listItem);
    }
    
    function limitSelection(checkbox) {
        const checkboxes = document.querySelectorAll('input[name="' + checkbox.name + '"]:checked');

        if (checkboxes.length > 2) {
            checkbox.checked = false;
        }
    }

    function startGame() {
        // Initialize the arrays
        const redTeamPlayers = [];
        const blackTeamPlayers = [];

        // Get selected players for each team
        const blackCheckboxes = document.querySelectorAll('input[name="black-players"]:checked');
        const redCheckboxes = document.querySelectorAll('input[name="red-players"]:checked');

        Array.from(blackCheckboxes).forEach(checkbox => blackTeamPlayers.push(checkbox.value));
        Array.from(redCheckboxes).forEach(checkbox => redTeamPlayers.push(checkbox.value));

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/start_game', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const response = JSON.parse(xhr.responseText);
                if (response.success) {
                    // Redirect to the game page on successful join
                    window.location.href = '/game_page';
                } else {
                    alert('Failed to start the game. Please try again.');
                }
            }
        };

        const data = JSON.stringify({ redTeamPlayers: redTeamPlayers, blackTeamPlayers: blackTeamPlayers });
        xhr.send(data);
    }
</script>
{% endblock %}
</html>
