<!-- leaderboard.html -->

{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboardStyles.css') }}">
{% endblock %}

{% block content %}
<main>

    {% set stats=all_stats.playerStats %}
    {% include 'leaderboard/player_stats_section.html' %}

    {% set stats=all_stats.teamStats %}
    {% include 'leaderboard/team_stats_section.html' %}


    {% set stats=all_stats.teamBeans %}
    {% include 'leaderboard/bean_stats_section.html' %}

    <div class="table-card">
        <h3>Red Vs Black</h3>
        <table>
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Wins</th>
                </tr>
            </thead>
            <tbody>
                {% for team, wins in all_stats.redVsBlack %}
                <tr>
                    <td>{{ team }}</td>
                    <td>{{ wins }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% set stats=all_stats.shortestGames %}
    {% include 'leaderboard/shortestGame_stats_section.html' %}

    {% set stats=all_stats.recentGameHistory %}
    {% include 'leaderboard/gameHistory_stats_section.html' %}
</main>

<script src="/static/socket.io.min.js"></script>
<script>
    const socket = io.connect('http://' + document.domain + ':' + location.port + '/');

    socket.on('connect', function() {
        console.log('Socket connected');
    });

    socket.on('game_started', function() {
        window.location.pathname = ("/game_page")
    });
    
</script>
{% endblock %}

</html>