<!-- leaderboard.html -->

{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboardStyles.css') }}">
{% endblock %}

{% block content %}
<main>
    <!-- set include navbar to false so that the sections wont also put in the nav bar -->
    {% set includeNavBar=false %}

    {% set stats=all_stats.playerStats %}
    {% include 'leaderboard/player_stats.html' %}

    <div class="table-card">
        <h3>Top Teams</h3>
        <table>
            <thead>
                <tr>
                    <th>Players</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>W/L</th>
                    <th>Win Rate</th>
                </tr>
            </thead>
            <tbody>
                {% for team, team_stats in all_stats.teamStats %}
                <tr>
                    <td class="player-cell">{{ team[0] }} - {{ team[1] }}</td>
                    <td>{{ team_stats.wins }}</td>
                    <td>{{ team_stats.losses }}</td>
                    <td>
                        {% if team_stats.losses != 0 %}
                        {{ (team_stats.wins / team_stats.losses) | round(2) }}
                        {% else %}
                        {{ team_stats.wins}}
                        {% endif %}
                    </td>
                    <td>
                        {{ (team_stats.wins / (team_stats.wins + team_stats.losses) * 100) | round | int}}%
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-card">
        <h3>Beans</h3>
        <table>
            <thead>
                <tr>
                    <th>Players</th>
                    <th>Beans</th>
                </tr>
            </thead>
            <tbody>
                {% for team, team_stats in all_stats.teamBeans %}
                <tr>
                    <td class="player-cell">{{ team }}</td>
                    <td>{{ team_stats.beans }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-card">
        <h3>Red Vs Black</h3>
        <table>
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Wins</th>
                </tr>
            </thead>
            <tbody>
                {% for team, wins in all_stats.redVsBlack %}
                <tr>
                    <td>{{ team }}</td>
                    <td>{{ wins }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-card">
        <h3>Shortest Game</h3>
        <table>
            <thead>
                <tr>
                    <th>Red Team</th>
                    <th>Black Team</th>
                    <th>Score</th>
                    <th>Length</th>
                </tr>
            </thead>
            <tbody>
                {% for team_stats in all_stats.shortestGame %}
                <tr>
                    <td class="player-cell">{{ team_stats[0] }}</td>
                    <td class="player-cell">{{ team_stats[1] }}</td>
                    <td>{{ team_stats[2] }}</td>
                    <td>{{ team_stats[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-card">
        <h3>Game History</h3>
        <table>
            <thead>
                <tr>
                    <th>Red Team</th>
                    <th>Black Team</th>
                    <th>Length</th>
                    <th>Score</th>
                    <th>Finish Date</th>
                </tr>
            </thead>
            <tbody>
                {% for team_stats in all_stats.recentGameHistory %}
                <tr>
                    <td class="player-cell">{{ team_stats[0] }}</td>
                    <td class="player-cell">{{ team_stats[1] }}</td>
                    <td>{{ team_stats[2] }}</td>
                    <td>{{ team_stats[3] }}</td>
                    <td>{{ team_stats[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}

</html>