<!-- players.html -->

{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block styles %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 30%;
        min-width: 300px;
        margin: 20px auto;
    }

    h2 {
        text-align: center;
    }

    .card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .players-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .players-list-item {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .players-list-item:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

    .form-card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 12px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #337ab7;
        color: #fff;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Players</h2>

    <div class="card">
        <ul class="players-list">
            {% for player in players %}
                <li class="players-list-item">{{ player['username'] }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="card form-card">
        <form id="add-user-form">
            <div class="form-group">
                <label for="new-username">New Username:</label>
                <input type="text" id="new-username" name="new-username" required>
            </div>

            <button type="button" onclick="addUser()">Add User</button>
        </form>
    </div>
</div>

<script>
    function addUser() {
        const newUsernameInput = document.getElementById('new-username');
        const newUsername = newUsernameInput.value;

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/add_user', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const response = JSON.parse(xhr.responseText);
                if (response.success) {
                    newUsernameInput.value = '';
                    location.reload(); // Refresh the page after successfully adding a new player
                } else {
                    alert(`Failed to join the game. ${response.message}`);
                }
            }
        };

        const data = JSON.stringify({ newUser: newUsername });
        xhr.send(data);
    }
</script>

{% endblock %}
</html>
