<!-- Settings.html -->

{% extends 'base.html' %}

{% block title %}
    Settings
{% endblock %}

{% block styles %}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        #lightsFormOn,
        #lightsFormOff {
            margin-top: 20px;
        }

        input[type="submit"] {
            padding: 50px; /* Increase padding for a bigger button */
            font-size: 50px;
            cursor: pointer;
            border: none;
            border-radius: 10px; /* Add border-radius for rounded edges */
        }

        #lightsFormOn input[type="submit"] {
            background-color: #4caf50; /* Green for "On" button */
            color: #fff;
        }

        #lightsFormOff input[type="submit"] {
            background-color: #ff5555; /* Red for "Off" button */
            color: #fff;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Lights Control Form -->
    <form id="lightsFormOn" action="/lights_on" method="post">
        <input type="submit" name="lightsOn" value="Turn lights on" />
    </form>

    <form id="lightsFormOff" action="/lights_off" method="post">
        <input type="submit" name="lightsOff" value="Turn lights off" />
    </form>

    <a href="/create_tournament">
        <button type="button">Create New Tournament</button>
    </a>
{% endblock %}
