<!-- tournament.html -->

{% extends 'base.html' %}

{% block title %}Tournament{% endblock %}

{% block styles %}

<style>

</style>
{% endblock %}

{% block content %}
<h2>Tournament!</h2>

{% for team_set in teams %}
    <div class="team-set">
        <p>Team {{ team_set.0 }} vs Team {{ team_set.1 }}</p>
        <button class="start-button" onclick="startGame('{{ team_set.0, team_set.1 }}', '{{ team_set.1 }}')">Start Game</button>
    </div>
{% endfor %}

<script>
    function startGame(redTeam, blackTeam) {
        // Send a POST request to /start_game endpoint
        fetch('/start_game', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                RED: redTeam,
                BLACK: blackTeam,
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Game started successfully!');
            } else {
                alert('Failed to start game. ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error starting game:', error);
        });
    }
</script>


{% endblock %}
</html>
