h1 {
    text-align: center;
}
h3 {
    text-align: center;
    margin: 10px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Enable wrapping for flex items */
}

.table-card {
    flex: 1 1 20%; /* Adjust the values as needed */
    margin: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-card table {
    max-width: 100%;
    width: 100%;
    table-layout: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

td.player-cell {
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}